@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

button {
  padding: 20px;
  border: 2px dashed green;
  background: orange;
  cursor: pointer;
  /* Make sure transform can animate smoothly */
  will-change: transform;
}

button:active {
  animation: bounce 0.4s;
}
